---
---
<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <section id="masthead">
      <div class="container">
        <div class="masthead-image">
          <img src="images/masthead-pic.svg">
        </div>
        <div class="masthead-text">
          <h1>Secure clipboard syncing between your devices</h1>
        </div>
      </div>
    </section>
    <div class="masthead-transition">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 640 74" preserveAspectRatio="none">
        <path fill="#9FC2FD" d="M0,0v28.8C93.6,57.5,203,74,320,74s226.4-16.5,320-45.2V0H0z"></path>
        <path fill="#71A5FD" d="M0,0v17.8C93.6,46.5,203,63,320,63s226.4-16.5,320-45.2V0H0z"></path>
        <path fill="#4A8CFD" d="M0,0v4.8C93.6,33.5,203,50,320,50S546.4,33.5,640,4.8V0H0z"></path>
      </svg>
    </div>
    <section id="">

    </section>
  </body>
</html>
