{% include base_path %}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ page.title | default: site.defaults.title }}</title>

<meta name="description" content="{{ page.description | default: site.defaults.description }}">
<meta name="keywords" content="{{ page.keywords | default: site.defaults.keywords }}">

<meta name="robots" content="index, follow">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link  href="css/style.css" rel="stylesheet" />

<meta property="og:title" content="{{ page.title }}">
<meta property="og:image" content="{{ base_path }}/images/logo-og.png">
<meta property="og:description" content="{{ page.description | default: site.defaults.description }}">
<meta property="og:url" content="{{ base_path }}{{ page.url }}">
<meta property="og:site_name" content="{{ page.title | default: site.defaults.title }}">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title | default: site.defaults.title }}">
<meta name="twitter:description" content="{{ page.description | default: site.defaults.description }}">
<meta name="twitter:image" content="{{ base_path }}/images/logo-og.png">
<meta name="twitter:site" content="zyncco">

<meta name="theme-color" content="#2288E3">
