<header class="navbar">
  <div class="container">
    <div class="navbar-main">
      <div class="branding">
        <img src="images/logo.svg">
        <span class="branding-text">Zync</span>
      </div>
      <div class="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <nav class="navbar-nav">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="https://github.com/zyncco">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="overlay"></div>
