*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: $colorBase;
}

#navigation
{
	padding: 10px;

	height: 4em;
	width: 100%;

	background-color: $colorDark;
	color: #FFFFFF;

	font-family: 'Open Sans', sans-serif;
}

#nav-logo
{
	height: inherit;
}

#navigation a
{
	display: block;

	text-decoration: none;
}
