:root {
  font-size: calc(0.5em + 0.6vw)
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: $color-text;
}

a {
  color: $color-primary;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

//Prevent issue of elements transitioning before page is finished loading CSS
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.noscroll {
  overflow: hidden;
}
