// Theme colors
$color-primary: #4A8CFD;
$color-secondary: #499CE7;
$color-accent: #F4156F;
$color-text: #444;

// Navbar
$navbar-height: 80px;
$navbar-background: $color-primary;
$navbar-color: #FFF;